* {
  font-family: 'Audiowide', cursive;
  color: #508270;
}
.container{
  display:flex;
  justify-content:center;
}

body{
  background-image: url("https://i.ibb.co/wJkYfqh/ac-new-horizons-leaf-pattern-v3-1280x1024-1.jpg");
}

.rectangle{
  margin-top:63px;
  border:3px solid black;
  height:860px;
  width: 790px;
  text-align:center;
  background-color: rgba(240, 228, 228, 0.58);
}

.register {
  border-radius:30px;
  background-color: #508270;
  width:269px;
  height:66px;
  margin-top:25px;
}


input {
  width:464px;
  height:61px;
  color:black;
}

input[type='text'], input[type='password']{
  font-size:26px;
}

p{
  font-size:16px;
}
button {
  color:black;
  font-size:36px;
}

a{
  color:blue;
}

hr{
  border-top: 2px solid black;
  border-bottom:2px solid black;
}

#discord, #google, #twitter{
  height:65px;
  width:85px;
}

#google, #twitter {
  border-radius:50%;
}

#discord, #google {
  margin-right:30px;
}

.socials-container{
  display:flex;
  justify-content: center;
  
}

.signup{
  margin-top:5px;
}



